<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include("assets/head.ejs") %>
        <%- include("assets/style.ejs") %>		
	</head>
	<body>
		<div>
			<div>
				<header class="header">
					<%- include("assets/header.ejs") %>
				</header>
			</div>
			<div>
                <nav>
					<%- include("assets/nav.ejs") %>
				</nav>
			</div>
			<div class="main">
				<main>
					<div class="container">
						<div class="box-formulario">
							<div class="formulario">

								<div class="titlulo-formulario">
									<h1>Alta de Dip</h1>
								</div>

								<div class="item-image">
									<img class="item-image" src="https://randomuser.me/api/portraits/men/89.jpg">
								</div>

								<div class="centro-dip">
									<input class="input-centro" type="number" name="centro" size="2" max="50" placeholder="00">
									<input class="input-dip" type="number" name="dip" size="10" placeholder="0000000000">					
								</div>

								<div class="nombre-apellido">
									<input class="input" type="text" name="nombre" placeholder="Nombres del distribuidor">
									<input class="input" type="text" name="Apellido" placeholder="Apellidos del distribuidor">
								</div>

								<div class="tel-mail">
									<input class="input" type="number" name="teléfono" placeholder="Número de teléfono">
									<input class="input" type="email" name="e-mail" placeholder="E-mail del distribuidor">
								</div>

								<div class="cat-razonSocial">
									<input class="input" type="text" name="categoria" placeholder="Categoria" list="categoria" />
                                    <datalist name="categoria" id="categoria">
                                        <option value="Distribuidor Junior"></option>
                                        <option value="Distribuidor"></option>
                                        <option value="Distribuidor Calificado"></option>
                                        <option value="Coordinador de Equipo"></option>
                                        <option value="Lider de equipo"></option>
                                        <option value="Lider Ejecutivo"></option>
                                    </datalist>

									<input class="input" type="text" name="razonSocial" placeholder="Razón Social" list="razonSocial" />
                                    <datalist name="razonSocial" id="razonSocial">
                                        <option value="Sujeto No Categorizado"></option>
                                        <option value="Responsable Inscripto"></option>
                                    </datalist>
								</div>

								<div class="organizacion-equipo">
									<input class="input" type="text" name="organizacion" placeholder="Organización">
									<input class="input" type="text" name="equipo" placeholder="Equipo">
								</div>

								<div class="titulo-patrocinante">
									<h3>Patrocinante</h3>
								</div>

								<div class="nombre-patrocinante">
									<input class="input" type="text" name="nombre" placeholder="Nombres del Patrocinante">
									<input class="input" type="text" name="Apellido" placeholder="Apellidos del Patrocinante">
								</div>

								<div class="centro-dip">
									<input class="input-centro" type="number" name="centro" size="2" max="50" placeholder="00">
									<input class="input-dip" type="number" name="dip" size="10" placeholder="0000000000">
								</div>
							</div>
						</div>
						<div class="box-botones">
							<button>
								<a href="/">Cancelar</a>								
							</button>
							<button onclick="altaDipExitosa()">
								Crear Dip
							</button>
						</div>
					</div>
				</main>
			</div>
			<!-- 
            <div class="footer">
				<footer>By Keiko Tadashi ®</footer>
			</div> 
            -->
		</div>
        <%- include("assets/script.ejs") %>
	</body>
</html>