<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include("assets/head.ejs") %>
        <%- include("assets/style.ejs") %>		
	</head>
	<body>
		<div>
			<div>
				<header class="header">
					<%- include("assets/header.ejs") %>
				</header>
			</div>
			<div>
                <nav>
					<%- include("assets/nav.ejs") %>
				</nav>
			</div>
			<div class="main">
				<main>
					<h1>Productos Modificación</h1>
				</main>
			</div>
			<!-- 
            <div class="footer">
				<footer>By Keiko Tadashi ®</footer>
			</div> 
            -->
		</div>
        <%- include("assets/script.ejs") %>
	</body>
</html>